<h1>{{title}}</h1>
<form id="formAddProp" name="addprop" method="post" action="/addprop">
  <input id="inputProp1" type="text" placeholder="prop1" name="prop1" />
  <input id="inputProp2" type="text" placeholder="prop2" name="prop2" />
  <button id="btnSubmit" type="submit">Submit</button>
</form>
