<h1>{{header}}</h1>
<form id="addFormCar" name="addCar" method="post" action="/addCar">
  <input type="text" placeholder="make" name="make">
  <input type="text" placeholder="model" name="model">
  <button type="submit">Submit</button>
</form>
